.container {
    display: flex;
}
.map, .reflections {
    border: solid 1px #3b79ab;
    width: 50%;
    padding: 10px;
    margin: 0.5rem;
    height: fit-content;
    overflow: auto;
}

.info {
    border: solid 1px #3b79ab;
    width: 25%;
    padding: 1rem;
    margin: 0.5rem;
}

object {
    background-color: #c7aef1;
}

.startText {
    font-weight: bold;
}